<div class="line-item mb-3">
  <%= image_tag line_item.product.image.url, class: 'img-fluid', alt: line_item.product.name %>
  <h4><%= line_item.product.name %></h4>
  <p><%= line_item.product.description %></p>
  <p>Quantity: <%= line_item.quantity %></p>
  <p>Line Total: <%= number_to_currency(line_item.total_price) %></p>
</div>
